<a href="https://colab.research.google.com/github/emrapport/w266-final-project/blob/master/model_results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Analysis of model results

In [1]:
import pandas as pd
import numpy as np
import copy
import time
import pickle
!pip install gcsfs

pd.set_option('max_colwidth', 100)

Requirement already satisfied: gcsfs in /usr/local/lib/python3.6/dist-packages (0.4.0)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.6/dist-packages (from gcsfs) (1.4.2)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from gcsfs) (0.6.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.6/dist-packages (from gcsfs) (0.4.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from gcsfs) (4.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from gcsfs) (2.21.0)
Requirement already satisfied: cachetools>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (3.1.1)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (1.12.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (0.2.7)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (2019.9.11)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (2.8)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa>=3.1.4->google-auth>=1.2->gcsfs) (0.4.7)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.0)

In [2]:
# this cell is only necessary if running in colab
project_id = 'w266-251323'
import uuid
bucket_name = 'fb-congressional-data/'
from google.colab import auth
auth.authenticate_user()
!gcloud config set project {project_id}

Updated property [core/project].

In [0]:
from google.colab import files
import io

Don't need to do the next few cells unless uploading new results from local machine.

In [27]:
# Get manually inputted model results. [11/23/19 3pm]

uploaded = files.upload()
model_results = pd.read_csv(io.BytesIO(uploaded['model_results.csv']))

Saving model_results.csv to model_results (6).csv

In [0]:
# Download the new dataframe to local machine.

model_results.to_csv('model_results.csv', header=True, index=False)
files.download('model_results.csv')

In [28]:
  !gsutil cp model_results\ \(6\).csv gs://fb-congressional-data/models/model_results.csv

Copying file://model_results (6).csv [Content-Type=text/csv]...
/ [1 files][ 21.9 KiB/ 21.9 KiB]
Operation completed over 1 objects/21.9 KiB.

Start here to get results from the bucket.

In [0]:
model_results = pd.read_csv("gs://fb-congressional-data/models/model_results.csv")

In [12]:
model_results.head()

  beg_end_resp  ...                                    saved_model_name
0            Y  ...          test3_model_0_gender_1574450353.2073507.h5
1            Y  ...          test3_model_2_gender_1574450353.2073507.h5
2            Y  ...  LPFriday11_22_model_1_gender_1574459044.4948301.h5
3            Y  ...  LPFriday11_22_model_3_gender_1574459044.4948301.h5
4            Y  ...  LPFriday11_22_model_5_gender_1574459044.4948301.h5

[5 rows x 35 columns]

In [13]:
model_results.sort_values(['delta_val_acc', 'percent_W'], ascending=[False, False])

   beg_end_resp  ...                                      saved_model_name
66            Y  ...    emFridayRound1_model_4_party_1574440064.0135477.h5
14            Y  ...     LPFriday11_22_model_5_party_1574459044.4948301.h5
99            Y  ...  emSaturdayRound1_model_1_party_1574526502.7369754.h5
64            Y  ...    emFridayRound1_model_2_party_1574440064.0135477.h5
41            Y  ...      LPFriday11_22_model_1_party_1574533565.182682.h5
..          ...  ...                                                   ...
67            N  ...    emFridayRound1_model_5_party_1574440064.0135477.h5
27            Y  ...     LPFriday11_22_model_3_party_1574474133.6134286.h5
90            Y  ...    emFridayRound2_model_2_party_1574448920.8472505.h5
89            Y  ...    emFridayRound2_model_1_party_1574448920.8472505.h5
91            Y  ...    emFridayRound2_model_3_party_1574448920.8472505.h5

[108 rows x 35 columns]

In [0]:
gender_results = model_results[model_results['saved_model_name'].str.contains("gender")]
party_results = model_results[model_results['saved_model_name'].str.contains("party")]

In [0]:
gender_best_delta = gender_results.sort_values(['delta_val_acc', 'percent_W'], ascending=[False, False]).head(10)
gender_best_final = gender_results.sort_values("final_val_acc", ascending=False).head(10)
gender_best_acc = gender_results.sort_values("best_val_acc", ascending=False).head(10)
gender_best_W = gender_results.sort_values("percent_W", ascending=False).head(10)

party_best_delta = party_results.sort_values(['delta_val_acc', 'percent_D'], ascending=[False, False]).head(10)
party_best_final = party_results.sort_values("final_val_acc", ascending=False).head(10)
party_best_acc = party_results.sort_values("best_val_acc", ascending=False).head(10)
party_best_D = party_results.sort_values("percent_D", ascending=False).head(10)

In [0]:
best_indices = gender_best_delta.model_idx
all_best_indices = best_indices.append([gender_best_final.model_idx,gender_best_acc.model_idx,gender_best_W.model_idx,
                     party_best_delta.model_idx,party_best_final.model_idx,party_best_acc.model_idx,party_best_D.model_idx])
top_models = all_best_indices.value_counts().head(10)

In [63]:
top_models = top_models.reset_index()
top_models

   index  model_idx
0     17          5
1     18          4
2     40          3
3     20          3
4     27          3
5     49          3
6     43          3
7     36          3
8     14          3
9     16          3

In [64]:
model_results.loc[model_results['model_idx'].isin(top_models['index'])]

    beg_end_resp  ...                                               saved_model_name
23             Y  ...             LPFriday11_22_model_3_gender_1574474133.6134286.h5
27             Y  ...              LPFriday11_22_model_3_party_1574474133.6134286.h5
29             Y  ...           LPSaturday11_23_model_1_gender_1574532795.1390407.h5
30             Y  ...           LPSaturday11_23_model_2_gender_1574532795.1390407.h5
31             Y  ...           LPSaturday11_23_model_3_gender_1574532795.1390407.h5
33             Y  ...            LPSaturday11_23_model_1_party_1574532795.1390407.h5
34             Y  ...            LPSaturday11_23_model_2_party_1574532795.1390407.h5
35             Y  ...      truncated to 6 epochs; met output size limit; party model
37             Y  ...              LPFriday11_22_model_1_gender_1574533565.182682.h5
41             Y  ...               LPFriday11_22_model_1_party_1574533565.182682.h5
48             Y  ...                     test3_model_4_gender_1574374022.0840676.h5
54             Y  ...                      test3_model_4_party_1574374022.0840676.h5
69             Y  ...            emFridayRound2_model_1_gender_1574448920.8472505.h5
73             Y  ...            emFridayRound2_model_5_gender_1574448920.8472505.h5
76             Y  ...  emFridayRound2continued2_model_0_gender_1574523315.4394882.h5
82             Y  ...          emSaturdayRound1_model_4_gender_1574526502.7369754.h5
89             Y  ...             emFridayRound2_model_1_party_1574448920.8472505.h5
93             Y  ...             emFridayRound2_model_5_party_1574448920.8472505.h5
96             Y  ...   emFridayRound2continued2_model_0_party_1574523315.4394882.h5
102            Y  ...           emSaturdayRound1_model_4_party_1574526502.7369754.h5

[20 rows x 35 columns]

In [65]:
model_results.loc[model_results['model_idx']==17]

   beg_end_resp  ...                                      saved_model_name
30            Y  ...  LPSaturday11_23_model_2_gender_1574532795.1390407.h5
34            Y  ...   LPSaturday11_23_model_2_party_1574532795.1390407.h5

[2 rows x 35 columns]

In [52]:
model_results.loc[model_results['model_idx']==18]

   beg_end_resp  ...                                     saved_model_name
73            Y  ...  emFridayRound2_model_5_gender_1574448920.8472505.h5
93            Y  ...   emFridayRound2_model_5_party_1574448920.8472505.h5

[2 rows x 35 columns]

In [34]:
gender_best_final = gender_results.sort_values("final_val_acc", ascending=False).head(10)

   beg_end_resp  ...                                      saved_model_name
56            Y  ...   emFridayRound1_model_0_gender_1574440064.0135477.h5
31            Y  ...  LPSaturday11_23_model_3_gender_1574532795.1390407.h5
23            Y  ...    LPFriday11_22_model_3_gender_1574474133.6134286.h5
30            Y  ...  LPSaturday11_23_model_2_gender_1574532795.1390407.h5
48            Y  ...            test3_model_4_gender_1574374022.0840676.h5
2             Y  ...    LPFriday11_22_model_1_gender_1574459044.4948301.h5
21            Y  ...    LPFriday11_22_model_1_gender_1574474133.6134286.h5
45            N  ...            test3_model_1_gender_1574374022.0840676.h5
69            Y  ...   emFridayRound2_model_1_gender_1574448920.8472505.h5
0             Y  ...            test3_model_0_gender_1574450353.2073507.h5

[10 rows x 35 columns]

In [35]:
gender_best_acc = gender_results.sort_values("best_val_acc", ascending=False).head(10)

   beg_end_resp  ...                                       saved_model_name
56            Y  ...    emFridayRound1_model_0_gender_1574440064.0135477.h5
2             Y  ...     LPFriday11_22_model_1_gender_1574459044.4948301.h5
31            Y  ...   LPSaturday11_23_model_3_gender_1574532795.1390407.h5
23            Y  ...     LPFriday11_22_model_3_gender_1574474133.6134286.h5
30            Y  ...   LPSaturday11_23_model_2_gender_1574532795.1390407.h5
48            Y  ...             test3_model_4_gender_1574374022.0840676.h5
69            Y  ...    emFridayRound2_model_1_gender_1574448920.8472505.h5
83            Y  ...  emSaturdayRound1_model_5_gender_1574526502.7369754.h5
72            Y  ...    emFridayRound2_model_4_gender_1574448920.8472505.h5
28            Y  ...   LPSaturday11_23_model_0_gender_1574532795.1390407.h5

[10 rows x 35 columns]

In [37]:
gender_best_W = gender_results.sort_values("percent_W", ascending=False).head(10)

   beg_end_resp  ...                                       saved_model_name
85            Y  ...  emSaturdayRound2_model_1_gender_1574533378.3978605.h5
70            Y  ...    emFridayRound2_model_2_gender_1574448920.8472505.h5
28            Y  ...   LPSaturday11_23_model_0_gender_1574532795.1390407.h5
81            Y  ...  emSaturdayRound1_model_3_gender_1574526502.7369754.h5
87            Y  ...  emSaturdayRound2_model_3_gender_1574533378.3978605.h5
46            Y  ...             test3_model_2_gender_1574374022.0840676.h5
58            Y  ...    emFridayRound1_model_2_gender_1574440064.0135477.h5
38            Y  ...      LPFriday11_22_model_2_gender_1574533565.182682.h5
60            Y  ...    emFridayRound1_model_4_gender_1574440064.0135477.h5
80            Y  ...  emSaturdayRound1_model_2_gender_1574526502.7369754.h5

[10 rows x 35 columns]

In [17]:
party_results.sort_values(['delta_val_acc', 'percent_D'], ascending=[False, False]).head(10)

    beg_end_resp  ...                                      saved_model_name
66             Y  ...    emFridayRound1_model_4_party_1574440064.0135477.h5
14             Y  ...     LPFriday11_22_model_5_party_1574459044.4948301.h5
99             Y  ...  emSaturdayRound1_model_1_party_1574526502.7369754.h5
64             Y  ...    emFridayRound1_model_2_party_1574440064.0135477.h5
41             Y  ...      LPFriday11_22_model_1_party_1574533565.182682.h5
32             Y  ...   LPSaturday11_23_model_0_party_1574532795.1390407.h5
98             Y  ...  emSaturdayRound1_model_0_party_1574526502.7369754.h5
100            Y  ...  emSaturdayRound1_model_2_party_1574526502.7369754.h5
102            Y  ...  emSaturdayRound1_model_4_party_1574526502.7369754.h5
63             N  ...    emFridayRound1_model_1_party_1574440064.0135477.h5

[10 rows x 35 columns]

In [14]:
len(party_results)

53

In [15]:
len(gender_results)

54