<a href="https://colab.research.google.com/github/emrapport/w266-final-project/blob/master/model_results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Analysis of model results
Edit `metric_dict` to change weights for various metrics. Scroll down to see analysis of final round of experiments (with 20-30 epochs.)

In [0]:
# Input metric weights from 0 to 1.
metric_dict = {'delta_gender':.9,
               'delta_party':.6,
               'final_gender':.7,
               'final_party':.7,
               'best_gender':.8,
               'best_party':.7,
               'percent_W':.9,
               'percent_D':.8
               }

In [1]:
import pandas as pd
import numpy as np
import copy
import time
import pickle
!pip install gcsfs

pd.set_option('max_colwidth', 100)

Collecting gcsfs
  Downloading https://files.pythonhosted.org/packages/65/e2/05f903ce8f77804127195cfcc1ca8b500a3157a1572dcc4b82bf5af01564/gcsfs-0.4.0-py2.py3-none-any.whl
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.6/dist-packages (from gcsfs) (0.4.1)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.6/dist-packages (from gcsfs) (1.4.2)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from gcsfs) (0.6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from gcsfs) (2.21.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from gcsfs) (4.4.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (1.12.0)
Requirement already satisfied: cachetools>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (3.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (0.2.7)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (4.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (2.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.7)
Installing collected packages: gcsfs
Successfully installed gcsfs-0.4.0

In [2]:
# this cell is only necessary if running in colab
project_id = 'w266-251323'
import uuid
bucket_name = 'fb-congressional-data/'
from google.colab import auth
auth.authenticate_user()
!gcloud config set project {project_id}

WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

Updated property [core/project].

In [0]:
from google.colab import files
import io

Don't need to do the next few cells unless uploading new results from local machine.

In [0]:
# Get manually inputted model results. [11/23/19 3pm]

uploaded = files.upload()
model_results = pd.read_csv(io.BytesIO(uploaded['model_results.csv']))

Saving model_results.csv to model_results (6).csv

In [0]:
# Download the new dataframe to local machine.

model_results.to_csv('model_results.csv', header=True, index=False)
files.download('model_results.csv')

In [0]:
  !gsutil cp model_results\ \(6\).csv gs://fb-congressional-data/models/model_results.csv

Copying file://model_results (6).csv [Content-Type=text/csv]...
/ [1 files][ 21.9 KiB/ 21.9 KiB]
Operation completed over 1 objects/21.9 KiB.

Start here to get results from the bucket.

In [0]:
model_results = pd.read_csv("gs://fb-congressional-data/models/model_results.csv")

In [0]:
model_results.head()

  beg_end_resp  ...                                    saved_model_name
0            Y  ...          test3_model_0_gender_1574450353.2073507.h5
1            Y  ...          test3_model_2_gender_1574450353.2073507.h5
2            Y  ...  LPFriday11_22_model_1_gender_1574459044.4948301.h5
3            Y  ...  LPFriday11_22_model_3_gender_1574459044.4948301.h5
4            Y  ...  LPFriday11_22_model_5_gender_1574459044.4948301.h5

[5 rows x 35 columns]

In [0]:
def get_model_metric(results_df, metric_dict,n):
  '''Take a dataframe of model results, metrics and number of top models
  and return that dataframe with a new model_metric column. The dataframe must have "saved_model_name",
  "delta_val_acc","final_val_acc","best_val_acc", "percent_W", and "percent_D"'''

  gender_results = results_df[results_df['saved_model_name'].str.contains("gender")]
  party_results = results_df[results_df['saved_model_name'].str.contains("party")]

  gender_best_delta = gender_results.sort_values('delta_val_acc', ascending=False).head(n)
  gender_best_delta['model_metric'] = metric_dict['delta_gender']
  gender_best_final = gender_results.sort_values("final_val_acc", ascending=False).head(n)
  gender_best_final['model_metric'] = metric_dict['final_gender']
  gender_best_acc = gender_results.sort_values("best_val_acc", ascending=False).head(n)
  gender_best_acc['model_metric'] = metric_dict['best_gender']
  gender_best_W = gender_results.sort_values("percent_W", ascending=False).head(n)
  gender_best_W['model_metric'] = metric_dict['percent_W']

  party_best_delta = party_results.sort_values('delta_val_acc', ascending=False).head(n)
  party_best_delta['model_metric'] = metric_dict['delta_party']
  party_best_final = party_results.sort_values("final_val_acc", ascending=False).head(n)
  party_best_final['model_metric'] = metric_dict['final_party']
  party_best_acc = party_results.sort_values("best_val_acc", ascending=False).head(n)
  party_best_acc['model_metric'] = metric_dict['best_party']
  party_best_D = party_results.sort_values("percent_D", ascending=False).head(n)
  party_best_D['model_metric'] = metric_dict['percent_D']

  metrics_df = gender_best_delta.append([gender_best_final,gender_best_acc,gender_best_W,party_best_delta,
                                              party_best_delta,party_best_final,party_best_acc,party_best_D])
  best_indices = metrics_df.groupby('model_idx')['model_metric'].sum().reset_index()
  best_results_df = results_df.merge(best_indices,on='model_idx')
  return best_results_df

In [0]:
best_models = get_model_metric(model_results,metric_dict,10).sort_values('model_metric', ascending=False)
best_models.head(20)

   beg_end_resp  ...  model_metric
19            Y  ...           3.8
18            Y  ...           3.8
21            Y  ...           3.2
20            Y  ...           3.2
14            Y  ...           2.9
15            Y  ...           2.9
74            Y  ...           2.6
25            Y  ...           2.6
24            Y  ...           2.6
75            Y  ...           2.6
37            Y  ...           2.4
36            Y  ...           2.4
17            Y  ...           2.3
48            Y  ...           2.3
49            Y  ...           2.3
57            Y  ...           2.3
56            Y  ...           2.3
16            Y  ...           2.3
63            Y  ...           2.3
12            Y  ...           2.3

[20 rows x 36 columns]

## Analysis of results from final 10 model experiments.

Only run the next few cells to get new results from local machine.

In [5]:
# Get manually inputted model results. [11/25/19 final experiments]

uploaded = files.upload()
model_results2 = pd.read_csv(io.BytesIO(uploaded['model_results2.csv']))

Saving model_results2.csv to model_results2.csv

In [6]:
  !gsutil cp model_results2.csv gs://fb-congressional-data/models/model_results2.csv

Copying file://model_results2.csv [Content-Type=text/csv]...
/ [1 files][  4.2 KiB/  4.2 KiB]
Operation completed over 1 objects/4.2 KiB.

Start here to load new results from bucket.

In [0]:
model_results2 = pd.read_csv("gs://fb-congressional-data/models/model_results2.csv")

In [0]:
# Input metric weights from 0 to 1.
metric_dict2 = {'delta_gender':.1,
                'delta_party':.05,
                'final_gender':.7,
                'final_party':.6,
                'best_gender':.1,
                'best_party':.05,
                'percent_W':.1,
                'percent_D':.05,
                'rocauc_gender':.9,
                'rocauc_party':.8,
                'precision_gender':.5,
                'precision_party':.4,
                'recall_gender':.8,
                'recall_party':.7,
                'pr_auc_gender':1,
                'pr_auc_party':.9
               }

In [0]:
def get_model_metric2(results_df, metric_dict,n):
  '''Take a dataframe of model results, metrics and number of top models
  and return that dataframe with a new model_metric column.'''

  gender_results = results_df[results_df['saved_model_name'].str.contains("gender")]
  party_results = results_df[results_df['saved_model_name'].str.contains("party")]

  gender_best_delta = gender_results.sort_values('delta_val_acc', ascending=False).head(n)
  gender_best_delta['model_metric'] = metric_dict['delta_gender']
  gender_best_final = gender_results.sort_values("final_val_acc", ascending=False).head(n)
  gender_best_final['model_metric'] = metric_dict['final_gender']
  gender_best_acc = gender_results.sort_values("best_val_acc", ascending=False).head(n)
  gender_best_acc['model_metric'] = metric_dict['best_gender']
  gender_best_W = gender_results.sort_values("percent_W", ascending=False).head(n)
  gender_best_W['model_metric'] = metric_dict['percent_W']
  gender_best_rocauc = gender_results.sort_values("rocauc", ascending=False).head(n)
  gender_best_rocauc['model_metric'] = metric_dict['rocauc_gender']
  gender_best_prec = gender_results.sort_values("precision", ascending=False).head(n)
  gender_best_prec['model_metric'] = metric_dict['precision_gender']
  gender_best_recall = gender_results.sort_values("recall", ascending=False).head(n)
  gender_best_recall['model_metric'] = metric_dict['recall_gender']
  gender_best_prauc = gender_results.sort_values("pr_auc", ascending=False).head(n)
  gender_best_prauc['model_metric'] = metric_dict['pr_auc_gender']

  party_best_delta = party_results.sort_values('delta_val_acc', ascending=False).head(n)
  party_best_delta['model_metric'] = metric_dict['delta_party']
  party_best_final = party_results.sort_values("final_val_acc", ascending=False).head(n)
  party_best_final['model_metric'] = metric_dict['final_party']
  party_best_acc = party_results.sort_values("best_val_acc", ascending=False).head(n)
  party_best_acc['model_metric'] = metric_dict['best_party']
  party_best_D = party_results.sort_values("percent_D", ascending=False).head(n)
  party_best_D['model_metric'] = metric_dict['percent_D']
  party_best_rocauc = party_results.sort_values("rocauc", ascending=False).head(n)
  party_best_rocauc['model_metric'] = metric_dict['rocauc_party']
  party_best_prec = party_results.sort_values("precision", ascending=False).head(n)
  party_best_prec['model_metric'] = metric_dict['precision_party']
  party_best_recall = party_results.sort_values("recall", ascending=False).head(n)
  party_best_recall['model_metric'] = metric_dict['recall_party']
  party_best_prauc = party_results.sort_values("pr_auc", ascending=False).head(n)
  party_best_prauc['model_metric'] = metric_dict['pr_auc_party']

  metrics_df = gender_best_delta.append([gender_best_final,gender_best_acc,gender_best_W,gender_best_rocauc,
                                         gender_best_prec,gender_best_recall,gender_best_prauc,party_best_delta,
                                         party_best_delta,party_best_final,party_best_acc,party_best_D,
                                         party_best_rocauc,party_best_prec,party_best_recall,party_best_prauc])
  best_indices = metrics_df.groupby('model_idx')['model_metric'].sum().reset_index()
  best_results_df = results_df.merge(best_indices,on='model_idx')
  return best_results_df

In [10]:
best_models2 = get_model_metric2(model_results2,metric_dict2,3).sort_values('model_metric', ascending=False)
best_models2

   beg_end_resp  drop_short    train_M  ...  architecture  Unnamed: 40  model_metric
8             Y           2  2625817.0  ...           BYO          1.0           5.4
9             Y           2        NaN  ...           BYO          1.0           5.4
4             Y           1  2752041.0  ...           kim          NaN           5.2
5             Y           1        NaN  ...           kim          NaN           5.2
6             Y           2  2752041.0  ...           BYO          2.0           4.7
7             Y           2        NaN  ...           BYO          2.0           4.7
0             Y           1  2752041.0  ...       johnson          NaN           4.1
1             Y           1        NaN  ...       johnson          NaN           4.1
12            Y           2  1965122.0  ...           BYO          4.0           3.5
13            Y           2        NaN  ...           BYO          4.0           3.5
10            Y           2  2752041.0  ...           BYO          3.0           3.5
11            Y           2        NaN  ...           BYO          3.0           3.5
15            Y           1  2752041.0  ...       johnson          NaN           3.1
2             Y           1  2752041.0  ...           kim          NaN           2.7
3             Y           1        NaN  ...           kim          NaN           2.7
14            Y           1  2752041.0  ...           BYO          6.0           1.1

[16 rows x 42 columns]

In [11]:
best_models2.head()

  beg_end_resp  drop_short    train_M  ...  architecture  Unnamed: 40  model_metric
8            Y           2  2625817.0  ...           BYO          1.0           5.4
9            Y           2        NaN  ...           BYO          1.0           5.4
4            Y           1  2752041.0  ...           kim          NaN           5.2
5            Y           1        NaN  ...           kim          NaN           5.2
6            Y           2  2752041.0  ...           BYO          2.0           4.7

[5 rows x 42 columns]